{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-import-sort", "prettier-plugin-organize-imports", "prettier-plugin-align"],
  "endOfLine": "lf"
}
